@model SimpleWebsite.MVC.Models.User

@{
    ViewData["Title"] = "Logowanie";
}

<div class="row mt-5">
    <div class="col-lg-4 col-2"></div>
    <div class="col-lg-4 col justify-content-center">
        <h1 class="display-5 text-center">@ViewData["Title"]</h1>
        <hr>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label for="Username" class="form-label">Nazwa użytkownika</label>
                <input type="text" id="username" name="Username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">Hasło</label>
                <input type="password" id="password" name="Password" class="form-control" required>
                <div id="passwordHelp" class="form-text">Nigdy nie udostępniaj swojego hasła!</div>
            </div>
            <button type="submit" class="btn btn-primary">Zaloguj się</button>

            @if (ViewData["UserLoginError"] != null)
            {
                <div class="alert alert-danger mt-3">
                    @ViewData["UserLoginError"]
                </div>
            }
        }
    </div>
    <div class="col-lg-4 col-2"></div>
</div>

