@{
    ViewData["Title"] = "Kontakt";
}

<div class="row mt-5">
    <div class="col-lg-4 col-2"></div>
    <div class="col-lg-4 col justify-content-center">
        <h1 class="display-5 text-center">@ViewData["Title"]</h1>
        <hr>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Firma</th>
                    <td>ToTheSky Sp. z o.o.</td>
                </tr>
                <tr>
                    <th scope="row">Adres</th>
                    <td>ul. Lotnicza 23, 00-001 Miastowo</td>
                </tr>
                <tr>
                    <th scope="row">Numer tel.</th>
                    <td>+48 123 456 789</td>
                </tr>
                <tr>
                    <th scope="row">E-mail</th>
                    <td>kontakt@tothesky.pl</td>
                </tr>
            </tbody>
        </table>        
    </div>
    <div class="col-lg-4 col-2"></div>
</div>
