@{
    ViewData["Title"] = "Strona Główna";
}

<div class="row">
    <div class="col-12 text-center  mt-4">
        <h1 class="display-3">Witaj w przestworzach!</h1><br/>
        <p class="lead">
            Oferujemy szeroki wybór innowacyjnych i niezawodnych modeli. 
            Doświadczenie w powietrzu jeszcze nigdy nie było tak satysfakcjonujące. 
            Dołącz do nas i odkryj fascynujący świat dronów! 
        </p>
    </div>
   <div class="row text-center">
        <div class="col-4"><img src="images/drone1.jpg" class="img-thumbnail img-fluid" alt="Drone"></div>
        <div class="col-4"><img src="images/drone2.jpg" class="img-thumbnail img-fluid" alt="Drone"></div>
        <div class="col-4"><img src="images/drone3.jpg" class="img-thumbnail img-fluid" alt="Drone"></div>
   </div>
   <div class="row text-center mt-5">
       <div class="col">
            <a role="button" class="btn btn-primary btn-lg btn-color" asp-area="" asp-controller="Products" asp-action="Index">Kliknij i zobacz naszą ofertę!</a>
       </div>
   </div>
</div>
